<!-- src/app/components/splash-screen/splash-screen.component.html -->
<ion-content [fullscreen]="true" class="splash-container">
  <div class="content">
    <!-- Logo en premier -->
    <div class="logo">
      <img src="assets/images/Logo-Traditionnel-Africain.png" alt="Artisanat Local">
    </div>
    
    <!-- Titre et sous-titre -->
    <h1 class="title">Artisanat Local</h1>
    <p class="subtitle">L'excellence artisanale à portée de main</p>
    
    <!-- Barre de progression -->
    <div class="progress-container">
      <div class="progress-bar"></div>
    </div>
  </div>
</ion-content>